@charset "UTF-8";
#hd {position:fixed; top: 0; left: 0; height:80px; z-index:999;
background-color: rgb(255,255,255);  }   
.page { clear:both; min-height:100vh; display:none; width: 100%;   overflow: hidden;}
.sub_ban { clear:both; width: 100%; position:relative;; }
.sub_ban img { display:block; width: 100%; height:330px; }
.tit_box {width:1280px; position:absolute; top:0px; left: 0px; z-index:30; color:#fff; text-shadow:1px 1px 1px #333; top:15%;left: 50%; transform: translate(-17%);}
.sub_tit {clear: both;font-size:20px; padding-top: 120px;}
.sub_com { font-size:30px; padding-top: 20px; font-family: 'Noto Sans KR', sans-serif;  top:15%;left: 50%; transform: translate(12.5%);}
.bread_box { clear: both; width: 100%; height: 48px; border-bottom:3px solid #cfdef4; }
.bread_wrap { width: 1280px; margin: 0 auto; }
.bread { height: 48px; line-height: 48px;  }
.bread li { float:left; padding-right: 30px; }
.bread li:after { content:">"; padding-left: 24px; }
.bread li:last-child::after { content: ""; }
.page:target { display:block; }
.page_con { clear:both; width: 100%;}
.page_wrap { width: 1280px; margin: auto; min-height:50vh;}

/* 페이지1 */
.ptop1 {text-align: center; padding: 20px;}
.ptop1 h2 {padding-bottom: 10px; font-size:35px; font-family: 'Noto Sans KR', sans-serif; color: rgb(56, 55, 55); font-weight: bold;}
.ptop1 p {font-size: 14px;}
.ptop1 .pg_next {float: right; margin-top: 70px;}
.ptop1 .pg_prev {float: left;  margin-top: 70px;}
.pbot1 img:first-child {width: 1280px; height: auto}
.pbot1 h3 { color: rgb(44, 69, 136); font-size: 25px ; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-weight: 400;}
.pbot1 p {float: right; width: 1100px; padding-right: 130px; font-size: 15px; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
.pbot1 p>a {font-size: 16px; font-weight: 600; margin: 10px; padding-bottom: 10px;}

.tab1 {clear: both; text-align: center; padding-bottom: 100px; padding-top: 20px;}
.tab1 h3 {font-size: 30px; padding: 10px; margin-bottom: 20px; font-family: 'Noto Sans KR', sans-serif; color: rgb(56, 55, 55);}
.tab1>table {width: 80%; margin: 0 auto;} 
.ptable1{border-collapse: collapse; border-top: 3px solid rgb(16, 140, 210);}
.tab1 tr, .tab1 td {border : 1px solid rgb(157, 150, 150); padding: 12px;}
.tab1 td:first-child,.tab1 td:nth-child(3) {background-color: rgb(244, 243, 239); } 
/* 페이지2 */
.pbot2 {text-align: center;}
.pbot2 h2 {font-family: 'Alegreya Sans', sans-serif; font-size: 60px; font-weight: 100;}
.pbot2 a {color: rgb(27, 179, 179);font-family: 'Roboto', sans-serif; font-weight:lighter;}
.pbot2 p {font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-weight: 300; font-size: 18px; }
.history { clear: both; width: 100%; text-align: center;}
.year_lst { width: 1280px; ;position:relative;} 
.ul1 {margin-left: 43px;}
.lst_month strong{font-weight: 700;}
.lst_month {font-family: 'Noto Sans KR', sans-serif; font-weight:300; font-size: 20px; color: rgb(74, 98, 236);}
.lst_month_com {font-family: 'GowunDodum-Regular'; font-weight: 400; padding-bottom: 7px;}
.year_lst li { width:598px; clear:both; box-sizing: border-box; position:relative; }
.year_lst li:nth-child(2n+1) { float:left; border-right:2px dashed #666;  text-align:right; padding-right:100px; }    
.year_lst li:nth-child(2n) { float:right; border-left:2px dashed #666;  margin-right:86px;  padding-left: 100px;}   
.year_lst li:nth-child(2n+1) .lst_month:after { content:""; width: 0; height: 0; display:block; border-right:15px solid rgb(0, 119, 184);
border-bottom:10px solid #fff; border-left:15px solid #fff; border-top:10px solid #fff; position:absolute; right:-2px; top:6px;}  
.year_lst li:nth-child(2n) .lst_month:before { content:""; width: 0; height: 0; display:block; border-right:15px solid #fff;
border-bottom:10px solid #fff; border-left:15px solid rgb(0, 119, 184);; border-top:10px solid #fff; position:absolute; left:-2px; top:6px; }  
.year_lst li:nth-child(2n+1) .lst_month_com:after { content:""; width:80px; height:2px; background-color: rgb(0, 119, 184);  display:block;
position:absolute; right:0px; top:15px; }
.year_lst li:nth-child(2n) .lst_month_com:before { content:""; width:80px; height:2px; background-color: rgb(0, 119, 184);  display:block;
position:absolute; left:0px; top:15px; }
.year_lst li:nth-child(2n+1) .lst_box:after { content:""; width:8px; height:8px; display:block; background-color: rgb(0, 119, 184);; 
position:absolute; right:80px; top:12px; border-radius:4px; }
.year_lst li:nth-child(2n) .lst_box:after { content:""; width:8px; height:8px; display:block; background-color: rgb(0, 119, 184);; 
position:absolute; left:80px; top:12px; border-radius:4px;}
.year_lst li:last-child {border: none;}


 

/* 페이지3 */
.tab2>table {margin: 0 auto; width: 80%; text-align: center;}
.ptable2 {border-collapse: collapse; border-top: 3px solid rgb(16, 140, 210); }
.ptable2 td {border : 1px solid rgb(157, 150, 150); padding: 12px;}
.ptable2 tr:first-child {background-color: rgb(244, 243, 239);}
.pbot3 {text-align: center;}
.pbot3 h2 {font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-weight: 500; color: rgb(44, 69, 136); padding-bottom: 10px;}
.pbot3>img {padding: 20px;}
.pbot3 p {font-family: 'Noto Sans KR', sans-serif; color: rgb(56, 55, 55); font-size: 30px; padding-bottom: 45px; font-weight: 700;}
.pbot3>.license {padding:20px;}
.license>img {padding: 20px;}
.licimg1, .licimg2, .licimg3, .licimg4 {float:left;border:1px solid rgb(157, 150, 150); width: 155px; height: 220px;}
.lic1, .lic2, .lic3, .lic4 {float: left;text-align: left;}
.lic1>h3, .lic2>h3, .lic3>h3, .lic4>h3 {width: 400px; margin-left: 180px;}
.lic1>p, .lic2>p, .lic3>p, .lic4>p {width: 410px; margin-left: 180px; padding-top: 15px;}
.lic1, .lic2 {padding-bottom: 30px; width: 250;}
.lic3, .lic4 {padding-bottom: 50px;}

.license p {font-size: 15px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 400;}
.license p>strong {color: rgb(191, 10, 10);}
.license>p {font-family: 'Noto Sans KR', sans-serif; color: rgb(56, 55, 55); font-size: 30px; padding-bottom: 45px; text-align: center;}

/* 페이지4 */

.pbot4 {width: 100%; text-align: center;}
.pbot4>img {padding-bottom: 20px;}
.pbot4 h3 {font-family: 'Noto Sans KR', sans-serif; color: rgb(56, 55, 55); font-size: 30px; padding-bottom: 45px;}
.map1 {margin: 0 auto ; float: left;}
.line1 {padding: 20px; padding-bottom: 76px;}
.tab4 {float:right; padding: 10px}
.tab4 td {padding: 9px; font-size: 16px;}
.tab4 td:first-child {color:rgb(45, 23, 165);font-weight:600; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
.tab4 td:last-child {padding-left: 50px; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
iframe {padding-top: 30px;padding-bottom: 30px; }


/*  */
.p2bot1 {width: 100%; text-align: center; clear: both;}
.p2bot1>img {padding-bottom: 20px;}
.p2bot1 h3 {font-family: 'Noto Sans KR', sans-serif; color: rgb(56, 55, 55); font-size: 30px; padding-bottom: 45px;}

.p2bot1_1 {clear: both; width: 100%; height: 350px;margin: 0 auto;}
.p2bot1_1 img,  .p2bot1_1 h3, .p2bot1_1 p  {float: left; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
.p2bot1_1 img {padding: 30px;}
.p2bot1_1 h3 {padding-top: 40px; width: 500px; font-size: 20px;}
.p2bot1_1 p {width: 661px; font-size: 14px; padding-top: 30px; font-size: 16px;}
.p2bot1_2 {clear: both; width: 100%;}
.p2bot1 ul {float:left; text-align: left; list-style: square; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
.p2bot1 li {line-height: 1.4;} 
.p2bot1 li::marker {color :rgb(44, 150, 35);}

.p2bot1_2 {clear: both; width: 100%;}
.p2bot1_2 img:nth-child(1) {padding-left: 50px;}
.p2bot1_2 img:nth-child(2n) {padding-bottom: 150px; padding-left: 20px; padding-right: 20px;}

.p2bot1_3 {width: 100%; padding-bottom: 120px;}
.p2bot1_3 ul {width: 100%; margin: 0 auto;}
.p2bot1_3 ul:first-child li { width: 320px;float: left;text-align: center; padding-top: 20px;}
.p2bot1_3 ul:first-child li p {font-weight: bold;  color:#fff;  background: #2c4589;  border-radius: 100px;  display: inline-block;  width: 30px;  padding: 0 0.5em;
 text-align: center; }
.p2bot1_3 ul:last-child li{ width: 320px; float: left; text-align: center; padding-top: 1em; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-weight: 600; font-size: 16px;}
.p2bot1_3 span {width: 320px; clear: both;}

.p2bot1_4 {clear: both; width: 100%; margin: 0 auto; height: 550px;}
.p2bot1_4 .i_b {width: 600px; height: 471px; float: left; margin: 0 auto; clear: both;}
.p2bot1_4 .t_b {width: 600px; float: left; margin: 0 auto;padding-left: 45px;}
.p2bot1_4 img {width: 350px; height: 471px; float: left; padding-left: 160px; padding-right: 120px; }
.p2bot1_4 .tb4 {border-collapse: collapse; text-align: center; font-size: 14px; width: 600px; height: 45px; padding: 60px; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
.p2bot1_4 .tb4 td, .p2bot1_4 .tb4 th{border: 1px solid rgb(204, 204, 204); line-height: 45px; padding-left: 30px; padding-right: 30px;}
.p2bot1_4 .tb4 tr:first-child {background-color: rgb(236, 236, 236); border-top: 3px solid rgb(16, 140, 210);}

/* */
.pbot2_1 {padding-bottom: 60px;}
.pbot2_1 img {width: 384px; height: 567px; padding-left: 20px;}

/**/
.pbot3_1 {width: 100%; height: 1900px; }
.pbot3_1 a {width:384px; height: 604px ;padding-left: 10px; padding-bottom: 10px;float: left;}
.pbot3_1 a:nth-child(3n+1) {padding-left: 40px;}
.pbot3_1 img{width: 384px; height: 604px;  border: 1px solid rgb(204, 204, 204)}

/**/
.pbot4_1 {width: 100%; height: 650px;}
.pbot4_1 a {width:384px; height: 246; padding-left: 15px; padding-bottom: 10px;float: left;}
.pbot4_1 a:nth-child(3n+1) {padding-left: 40px;}
.pbot4_1 img{width: 384px; height: 246px;  border: 1px solid rgb(204, 204, 204)}
.pic_box {width: 1250px; height: 1200px; clear: both; margin: 0 auto;}
.pic_box .pic {float:left; height: 310px; margin-left: 10px;margin-bottom: 10px; border: 1px solid rgb(204, 204, 204);}
.pic_box .pic:nth-child(3n+1) {margin-left: 40px;}
.pic_box img {width: 384; height: 256px;}
.pic_box p {text-align: center; padding-top: 12px; font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-weight: bold; font-size: 15px; color:#333}
.pic_box .pic:nth-child(2) p {padding-top: 15px;}

.pic_box2 {width: 1160px; clear: both; height: 300px; margin: 0 auto;}
.pic_box2 li {float:left; height: 230px; width: 280px;margin-left: 10px;text-align: center;}
.pic_box2 p { width: 280; height: 173px;}
.pic_box2 img { height: 175px; width: 278px; border: 1px solid rgb(204, 204, 204); border-bottom: none;}
.pic_box2 span {display: block; font-weight: bold; background: #006; color: #fff; line-height: 1.6; border: 1px solid rgb(204, 204, 204); border-bottom: none; padding: 1em;font-family: 'Roboto', 'Noto Sans KR', sans-serif; font-weight: bold;}
.p3bot2 {width: 1200px; margin: 0 auto;}
.p3bot2 h3, .p3bot2_2 h3, .p3bot2_3 h3{text-align: center;font-size: 25px; padding-bottom: 20px; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; color:#333}
.p3bot2 img {padding: 18px;}
.p3bot2 img:nth-child(2n+1) {padding-bottom: 60px;}
.p3bot2_1 {width: 1200px; margin: 0 auto;}
.p3bot2_1 ul {width: 1200px; margin: 0 auto;}
.p3bot2_1 ul li {float:left; padding-left: 80px;}
.p3bot2_1 ul:first-child li:nth-child(2n+1) { width: 150px ;float: left;text-align: center; margin: 0 auto; padding: 18px;padding-bottom: 0;}
.p3bot2_1 ul:first-child li:nth-child(2n) {width: 30px; height: 21px;padding: 18px; padding-bottom: 0;}
.p3bot2_1 ul:first-child li p {font-weight: bold;  color:#fff;  background: #2c4589;  border-radius: 100px;  display: inline-block;  width: 30px;  padding: 0 0.5em;
 text-align: center;}
.p3bot2_1 ul:last-child li:nth-child(2n+1){ width: 150px; float: left; text-align: center; padding-top: 1em; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-weight: 800; font-size: 16px; padding: 18px;}
.p3bot2_1 ul:last-child li:nth-child(2n){width: 30px; height: 21px;padding: 18px;}

.p3bot2_2 ,.p3bot2_3 {clear: both; padding-top: 30px; width: 1200px; margin: 0 auto;}
.laser1 {width: 600px; height: 434px;float: left;}
.laser1 img {padding-left: 84px;}
.laser2 {width: 600px; float: left; height: 434px;}

.tb5 {text-align: left; width: 600px; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
.tb5 th , .tb5 td{padding-bottom: 1em;}
.tb5 th {font-size: 18px;}
.tb5 td {font-size: 15px;}

.tb6_div {width: 100%; padding-bottom: 10px; }
.tb6 {width: 1200px; text-align: center; border-collapse: collapse; margin: 0 auto ;font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}

.tb6 th, .tb6 td {border: 1px solid #ccc; line-height: 2.8; padding-left: 20px;padding-right: 20px;} 
.tb6 th {background-color: rgb(244, 243, 239); border-top: 3px solid rgb(16, 140, 210);}

.tb7_div {width: 100%; padding-bottom: 60px;}
.tb7 {display: tablb;width: 1200px; text-align: center; margin: 0 auto; border-collapse: collapse;  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-weight: 400;}
.tb7 tr {display: table-row; border : 1px solid #ccc;}
.tb7 th {border: 1px solid #ccc; line-height: 2.8; border-top: 3px solid rgb(16, 140, 210); background-color: rgb(244, 243, 239);}
.tb7 td{display: table-cell; border-right: 1px solid #ccc; line-height: 2.2;}
.tb7 td:nth-child(2), .tb7 th:nth-child(2) {border-left: 1px solid #fff;border-right: 1px solid #fff;}
.tb7 tr:nth-child(6) td:nth-child(2) {border-right: 1px solid #ccc}
.tb7 tr:nth-child(6) td:nth-child(3) {border-right: none;}

.p4bot1 {list-style: none; text-align: center;}
.p4bot1 li{display: inline-block;width: 22%; text-align: center; padding: 0 1em 3em 0; background: url(./web1/img/arrow.png) no-repeat 100% 40%;}
.p4bot1 li p{    font-weight: bold;color: #fff; background: #2c4589; border-radius: 100px;  display: inline-block; width: 30px; padding: 0 0.5em;}
.p4bot1 li img {display: block; padding: 2em 0; margin: 0 auto;}
.p4bot1 li span { display: block; font-weight: bold; padding: 1em 0; font-family: 'Roboto', sans-serif; color: #333;}
.p4bot1 li:last-child {background: none;}
